@page
@using FormsApp.Models
@using FormsApp.Pages.Courses
@model FormsApp.Pages.Courses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Course.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.Stage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Stage)
        </dd>
        <dt>
            CurrentStudents
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.StudentCourses.Count)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.MaxStudents)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.MaxStudents)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.Trainer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Course.Trainer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.DatesAndPlaces)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Date</th>
                    <th>Place</th>
                </tr>
                @foreach (var item in Model.Course.DatesAndPlaces)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Place)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Course.StudentCourses)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>Email</th>
                    <th> </th>
                </tr>
                @foreach (var item in Model.Course.StudentCourses)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.FirstMidName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Email)
                    </td>
                    <td>
                        <a asp-page="../Students/Details" asp-route-id="@item.StudentId">Go to</a>
                    </td>
                </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Course.CourseId">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Course.CourseId">Delete</a> |
    <a asp-page="./Index">Back to List</a>
    <form method="post"><button type="submit" class="btn btn-default" asp-page-handler="DownloadFile" asp-route-id="@Model.Course.CourseId">Download Students .CSV</button></form>
</div>
